<!DOCTYPE html>
<html>
<head>
    <title>Admin login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href={{ url_for('static', filename='style.css') }} rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#">Elecciones 2021 UNLAR</a>
</nav>

<div class="container-fluid">
    <form method="POST">
        <div class="row">
            <div class="col-md-12 center title">
                <h1>Ver estadisticas</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input type="submit" name="testigo" value="Voto Testigo">
            </div>
            <div class="col-md-6">
                <input type="submit" name="escrutinio" value="Escrutinio Provisorio">
            </div>

        </div>
    </form>
</div>
</body>
</html>
