<!DOCTYPE html>
<html>
<head>
    <title>Admin login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href={{ url_for('static', filename='style.css') }} rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#">Elecciones 2021 UNLAR</a>
</nav>
<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src={{ url_for('static', filename='logo.png') }} id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="post" action="">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Ingresar">
    </form>

  </div>
</div>
</body>
</html>
