<!DOCTYPE html>
<html>
<head>
    <title>Admin login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href={{ url_for('static', filename='style.css') }} rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" href="#">Elecciones 2021 UNLAR</a>
        </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 center title">
                        <h3>Número que ya votaron: {{ number_of_voted }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 center title">
                        <h3>Listado de los que no votaron todavía: </h3>
                    </div>
                </div>

                <div class="row">
                    {{ list_not_voted }}
                </div>
            </div>
    </body>
</html>
